# /etc/systemd/system/minifirewall.service

[Unit]
Description=Control the firewall
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/usr/local/sbin/minifirewall start
ExecStop=/usr/local/sbin/minifirewall stop

[Install]
WantedBy=default.target
